<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
  <li>
    <a href="information-standard.html">Information Standard</a>
  </li>
  <li>
    <a href="data-model.html">Data Model</a>
  </li>
  <li>
    <a href="data-exchange.html">Data Exchange</a>
  </li>
  <li>
    <a href="artifacts.html">Artifact Index</a>
  </li>
    <li>
    <a href="changelog.html">Change log</a>
  </li>
</ul>